@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h1{
    font-family: 'Roboto', sans-serif;
    color:black;
    background-color: burlywood;
    text-align: center;

}

h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

body{
    font-family: 'Roboto', sans-serif;
    color: blue;
    background-color: beige;
}

head{
    background-color:burlywood;
    font-family: 'Roboto', sans-serif;
    color: white;
}

footer{
    background-color: burlywood;
}

nav{
    background-color: goldenrod ; border:2px solid royalblue
}

main{
    background-color: beige;
}

img{
    border: 6px solid brown;
}

img:hover{
    border-color: aliceblue;
}