header{
    font-family: 'Roboto', sans-serif;
    color:black;
    background-color: skyblue;
    font-size: xx-large;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    background-color: whitesmoke;
}

head{
    background-color:burlywood;
    font-family: 'Roboto', sans-serif;
    color: white;
}

footer{
    background-color: blueviolet; 
    font-style: italic;
    color: white;
    font-size: large;
}

p{
    background-color: cyan;
    font-size: small;
}

main{
    background-color: whitesmoke;
}