@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h1{
    font-family: 'Roboto', sans-serif;
    color: blue;
}

body{
    font-family: 'Roboto', sans-serif;
    color: blue;
}

header{
    background-color: burlywood;
    font-family: 'Roboto', sans-serif;
    color: white;
}

footer{
    background-color: burlywood;
}

nav{
    background-color: goldenrod; border:2px solid royalblue;
    font-size: larger;
}

main{
    background-color: beige;
    text-align: center;
}

div{
    background-color: floralwhite;
    text-align: center;
}

img{
    border: 5px solid white;
}

img:hover{
    border: 5px dashed blue;
}

html{
    text-align: center;
}